<h2>フォロワー</h2>

<% if @users.size  == 0 %>
  <p><%= "フォロワーはいません" %></p>
<% else %>
 <% @users.each do |user| %>
  <!--フォロワー画像-->
  <%= attachment_image_tag user, :user_image, size: "50x50", format: 'jpg', fallback: "no_image.jpg" %>
  <!--フォロワー名-->
  <%= link_to user_path(user) do %>
   <%= user.name %>
  <% end %>
 <% end %>
<% end %>
