<div class="container">
<h1>News</h1><h5>(電撃ホビーWebへ飛びます)</h5>
<% @elements.each do|element| %>
 <ul>
  <li>
    <!--.inner_textでテキスト部分を、attributesでurlを持ってくる。-->
    <%= link_to element.children.inner_text, element.attributes['href'].value %>
  </li>
 </ul>
<%end%>
</div>
