<div class="container">
 <div class="row">
  <div class="top col-sm-12">
   <div class="home"></div>
   <div class="home-text">
   <h1>Hobby Graph!!</h1>
   <p>
     Hobby Graphはプラモデルやフィギュアなど玩具好きのためのsnsです。<br>
     飾ったもの、好きにカスタマイズしたものを沢山載せちゃいましょう！<br>
     登録しなくても閲覧は可能です！<br>
     皆さんで盛り上げていきましょう！！
   </p>
   </div>
  </div>
 </div>
</div>

